---
import LandingHeader from '../components/LandingHeader.astro';
import HeroSection from '../components/HeroSection.astro';
import YSection from '../components/YSection.astro';
import XSection from '../components/XSection.astro';
import Layout from '../layouts/Layout.astro';
import ESection from '../components/ESection.astro';
---

<Layout title="Autos eléctricos, energía solar y limpia | Tesla México">
	<LandingHeader/>
	<main class="snap-y snap-mandatory relative w-full h-screen overflow-auto scroll">
		<div class="snap-center">
			<HeroSection/>
		</div>
		<div class="snap-center">
			<YSection/>
		</div>
		<div class="snap-center">
			<ESection/>
		</div>
		<div class="snap-center">
			<XSection/>
		</div>
	</main>
</Layout>

<style>
</style>
