<section class="landing-section bg-black h-screen w-screen text-center relative overflow-hidden"
data-header-color="white">
    <div class="z-30 relative h-full flex flex-col">
        <header>
            <h2 class="text-white pt-40 text-[40px] font-medium">Modelo 3</h2>
            <p class="text-white text-sm underline">Agenda una demostración de manejo</p>
        </header>

        <footer class="flex flex-col flex-grow justify-end pb-20">
            <div class="gap-x-6 flex mx-auto">
                <a class="border-[3px] border-gray-600 bg-gray-600 text-sm rounded font-medium text-white px-12 py-2 inline-block
                transition-colors hover:border-gray-500 hover:bg-gray-500" href="#" class="text-white text-sm">
                    Explorar inventario
                </a>
                <a class="bg-white text-sm rounded font-medium px-12 py-2
                inline-flex justify-center items-center transition-colors" 
                href="#" class="text-black text-sm">
                    Pedido personalizado
                </a>
            </div>
        </footer>
    </div>
    <div class="absolute top-0 bottom-0 h-full w-full z-10">
        <img src="/model-3.webp" alt="Model 3" class="h-full w-full object-cover object-center">
    </div>
</section>